@charset "UTF-8";

/* 回答はここに書いてね */

.content{
  margin: 0px auto;
  padding: 20px;
}

.table{
  display: table;
  width: 100%;
  margin-top: 20px
}

.table:first-child{
  margin-top: 0;
}

.cell{
  display: table-cell;
  padding: 20px;
  text-align: center;
}

.table:first-child .cell:nth-child(1){
  background-color: #fdc8b8;
  width: 100px;
}
.table:first-child .cell:nth-child(2){
  background-color: #e0abd9;
}
.table:first-child .cell:nth-child(3){
  background-color: #b6d8ed;
  width: 100px;
}

.table:last-child .cell:nth-child(1){
  background-color: #e5d32e;
}
.table:last-child .cell:nth-child(2){
  background-color: #ec8f9a;
}
.table:last-child .cell:nth-child(3){
  background-color: #8fdcad;
  width: 500px;
}
/* 回答はここに書いてね */
