@charset "UTF-8";

/* 回答はここに書いてね */

.calorie_counting{
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.calorie_counting th,
.calorie_counting td{
  border: solid 1px #dedede;
  padding: 10px;
  box-sizing: border-box;
}

.calorie_counting th{  
  background-color: #2244aa;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
}

.calorie_counting td{
  font-size: 16px;
  line-height: 22px;
}

.calorie_counting tr:nth-child(2n-1){
  background-color: #ecf1f2;
}

.calorie_counting tr:last-child{
  border-top: dashed #000 2px;
}
/* 回答はここに書いてね */
